* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.single-column {
    background-color: red;
    width: 80%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    color: aqua;
    border: 25px;
    padding: 15px;
    margin: 15px;
}

h3 {
    color: aqua;
    border: 25px;
    padding: 14px;
    margin: 14px;
}
img {
    padding: 35px;
    margin: 35px;
}
p {
    padding: 20px;
    margin: 20px;
}