/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Bulletin Board assignment.

    Good luck, and have fun!
*/

.post-it {
    width: 200px;
    height: 200px;
    background-color: skyblue;
    margin: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    box-shadow: 10px 10px 8px #00000033;
}
.img-post {
    width: 200px;
    height: 200px;
    background-color: white;
    margin: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    box-shadow: 10px 10px 8px #00000033;
}