* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.single-column {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 80px;
}

.light-container {
    background-color: blueviolet ;
    color: white;
    text-align: center;
}

.dark-container {
    background-color: cornflowerblue;
    color: white;
    text-align: center;
}

.medium-container {
    background-color: limegreen;
    color: white;
    text-align: center;
}

.button-1 {
    border: 10px;
    border-radius: 10px;
    background-color: rgb(30, 102, 234);
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 20px;
    padding: 10px;
    display: inline-block;
}

.button-2 {
    border: 10px;
    border-radius: 10px;
    background-color: gold;
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 20px;
    padding: 10px;
    display: inline-block;
}

.button-3 {
    border: 10px;
    border-radius: 10px;
    background-color: red;
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 20px;
    padding: 10px;
    display: inline-block;
}

h1 {
    color: black;
    font-family: "Fugaz One", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 50px;
}

h3 {
    font-family: "Fugaz One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

p {
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    font-size: 20px;;
}

img {
    height: 400px;
}