* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

p {
    border: 5px solid red;
    margin: 24px 12px;
    padding: 24px 12px;
    /* margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 16px;
    margin-right: 36px; */
}

div {
    margin: 40px;
    border: 10px dashed yellowgreen;
    padding: 24px;
    background-color: skyblue;
    border-radius: 24px;
    
}